.app {
  
}

.album {
  padding: 16px;
  width: 100%;
}

.loader {
  height: 43px;
  width: 43px;
}

.error {
  color: red;
}

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 16px 16px 16px 64px;
  padding: 16px;
}

.photo {
  background-color: aliceblue;
  border: solid 1px blueviolet;
  border-radius: 6px;
  font-size: 12px;
  padding: 8px;
  margin: 8px;
  width: 166px;
}